.dashboardsidebar {
    width: 20%;
    background-color: rgb(251, 246, 238);
    height: 90vh;
    z-index: 99;
  }
  .dashboardmainbar {
    /* box-shadow: 1px -2px 25px rgb(89, 89, 89); */
    width: 95%;
    background-image: url("/public/background-dashboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: 90vh;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
   
  }
  .homepage {
    width: 100vw;
    display: flex;
  }
  
  .profile-container {
    margin-left: 20px;
    margin-right: 20px;
   
 
    border-radius: 10px;
    width: 90%;
    height: 34%;
    color: white;
    background: linear-gradient(135deg, #153677, #4e085f);
    border: 1px solid rgb(119, 119, 119);
    box-shadow: 5px 5px 15px rgb(228, 228, 228);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .image-container {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    width: 80%;
    height: 60%;
  }
  .header-user-container {

    width: 80%;
    height: 10%;
  }
  .user-img {
    height: 60%;
    width: 35%;
    border-radius: 50%;
  }
  
  .sidebar-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  

 
@keyframes floating {
    0% { transform: translateX(5px); }
    50%  { transform: translateX(-5px); }
    100%   { transform: translateX(5px); }    
}