.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100vw;
 
}

footer{
    background-color: rgb(251, 246, 238);
}
#footer-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}